Package: com.highrez.wificarrier
Name: WiFiCarrier+
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: An Enhanced version of NoisyFlake WiFiCarrier for IOS 13. Supports additions for WiFi Calling
Depiction: https://apt.noisyflake.com/depictions/index.html?id=com.noisyflake.wificarrier
Maintainer: Phil
Author: Phil
Section: Tweaks
