Package: com.highrez.wificarrier
Name: WiFiCarrier+
Depends: mobilesubstrate
Version: 1.0.3d
Architecture: iphoneos-arm
Description: An Enhanced version of NoisyFlake WiFiCarrier for IOS 13. Supports additions for WiFi Calling
Depiction: https://phil-highrez.github.io/repo/depictions/?p=com.highrez.wificarrier
Maintainer: Phil <phil@highrez.co.uk>
Author: Phil, NoisyFlake
Section: Tweaks
